<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="_layout"
>
  <div layout:fragment="content">
    <div
      id="empty-cart-message"
      role="alert"
      class="alert text-center flex justify-center"
      style="display: none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="stroke-info shrink-0 w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <span>Cart is empty</span>
    </div>

    <div id="cart" class="flex flex-col gap-3" style="display: none">
      <div
        th:each="movie : ${movies}"
        th:attr="data-id=${movie.id}, data-price=${movie.price}"
        class="movie card shadow-md rounded-md overflow-hidden hidden"
      >
        <div class="flex flex-wrap gap-6 items-center">
          <img
            th:src="${movie.thumbnailUrl ?: '/images/no_image_placeholder.png'}"
            alt="Movie Image"
            class="w-40 aspect-video object-cover"
          />
          <div>
            <div th:text="${movie.title}" class="font-bold text-xl"></div>
            <div><span th:text="${movie.price}"></span> €</div>
          </div>
          <div
            class="add-to-cart flex flex-wrap gap-6 items-center ml-auto pr-3"
          >
            <div class="text-2xl">
              <span class="movie-total-price"></span> €
            </div>
            <div class="edit-count flex items-center" style="display: none">
              <div class="btn btn-outline btn-primary">-</div>
              <div class="count text-2xl w-10 text-center">1</div>
              <div class="btn btn-outline btn-primary">+</div>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="remove-from-cart w-8 h-8 stroke-current cursor-pointer hover:stroke-red-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap gap-3 justify-end mt-3">
        <div class="flex-1 basis-full text-right text-2xl font-bold">
          Total: <span id="final-price" class="font-bold"></span> €
        </div>
        <div id="empty-cart" class="btn btn-error btn-outline">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-4 h-4 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
          Empty cart
        </div>
        <div id="pay-with-cash" class="btn btn-accent">Pay with CASH</div>
        <div id="pay-with-paypal" class="btn btn-primary">Pay with PAYPAL</div>
      </div>
    </div>

    <script src="/scripts/cart.js"></script>
    <script>
      const payWithCashEl = document.getElementById("pay-with-cash");
      const payWithPaypalEl = document.getElementById("pay-with-paypal");

      payWithCashEl.addEventListener("click", () => buy("CASH"));
      payWithPaypalEl.addEventListener("click", () => buy("PAYPAL"));

      function buy(paymentMethod) {
        const cart = localStorage.getItem("cart");
        fetch("/rest/movieswebshop/purchase", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            paymentMethod,
            purchaseMovieDTOs: JSON.parse(cart),
          }),
        }).then((response) => {
          console.log(response);
          if (!response.ok) return alert("Purchase failed");
          localStorage.removeItem("cart");
          window.location.href = "/mvc/movieswebshop/getPurchase.html";
        });
      }
    </script>
  </div>
</html>
